{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content">

        <div id="me"></div>

        <div id="about-author">
            <h1>Few words about me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus nisi delectus vero mollitia beatae dolores velit labore, architecto ut! Quis modi, facilis soluta labore beatae asperiores mollitia atque vero ad.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore iure cum laboriosam! Quis nisi, recusandae dolore amet. Inventore odio, dicta! Est placeat fuga molestiae amet odit, perspiciatis quasi tenetur laudantium?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat impedit odit dicta doloremque quas consequuntur! Aspernatur obcaecati, eligendi, reiciendis minima, quibusdam placeat sit facilis tempore et voluptate animi ipsam tempora.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem corporis, nemo in. Dignissimos, totam. Nesciunt cumque quisquam magnam error numquam odit quia totam, saepe rerum maxime minima earum eveniet.</p>
        </div>

    </div>
{% endblock %}