{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% if messages %}
		<script type="text/javascript">
			{% for message in messages %}
				alert("{{ message }}");
			{% endfor %}
		</script>
	{% endif %}
    <section class="main wrapper">
		{% if stories %}
			{% for story in stories %}
				<article>
					<div class="article_image">
						<a href="{% url 'story' story.id %}">
							<img src="{{ story.story_photo.url }}" alt="" title="">
						</a>
					</div>
					<div class="post">
						<h1 class="title">
							<a href="{% url 'story' story.id %}">{{ story.title }}</a>
						</h1>

						<p>{{ story.story_text }}</p>

						<a class="read_more" href="{% url 'story' story.id %}">Continue Reading <i class="read_more_arrow"></i> </a>
					</div>
				</article>
			{% endfor %}
		{% else %}
			<h1>There are no stories {{s}}</h1>
		{% endif %}


		<nav class="pagination">
			{% if stories.has_previous and stories.has_next %}
				<a href="?page={{stories.previous_page_number}}" class="previous"><i></i>Previous</a>
				<a href="?page={{stories.next_page_number}}" class="next">Next<i></i></a>
			{% elif stories.has_previous and not stories.has_next %}
				<a href="?page={{stories.previous_page_number}}" class="previous"><i></i>Previous</a>
			{% elif not stories.has_previous and stories.has_next %}
				<a href="?page={{stories.next_page_number}}" class="next">Next<i></i></a>
			{% else %}
				<!-- Nothing -->
			{% endif %}
		</nav><!-- Pagination End -->
	</section><!-- Main End -->
{% endblock %}