{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="single-story">
		<div class="story-title">
			<h1>" Title of the single story "</h1>
		</div>
		<div class="picture">
			<img src="img/pic6.jpg" alt="nature">
		</div>

		<div class="story-text">
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit
				Porro itaque placeat accusantium, voluptatem a ducimus asperiores reprehenderit accusamus facilis <br>fugit quas cumque quidem laudantium sequi cupiditate nesciunt, ipsam consectetur. Magnam!	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque optio autem accusamus porro tempora, a magnam, aperiam eligendi! Officia odio qui voluptate, debitis asperiores labore. Explicabo blanditiis est pariatur numquam.</p>
		</div>

		<div class="additional">

			<div class="go-back">
				<a href="#" class="back">go to stories</a>
			</div>
			<div class="authoroty">
				<p>Author: StanioHrutc</p>
			</div>
		</div>
	</section>
{% endblock %}