{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <section id="single-story">
		<div class="story-title">
			<h1>"{{ story.title }}"</h1>
		</div>
		<div class="picture">
			<img src="{{ story.story_photo.url }}">
		</div>

		<div class="story-text">
			<p>{{ story.story_text }}</p>
		</div>

		<div class="additional">

			<div class="go-back">
				<a href="{{request.META.HTTP_REFERER}}" class="back">go to stories</a>
				<!-- request.META.HTTP_REFERER - simulating of back button -->
			</div>
			<div class="authoroty">
				<p>posted: {{ story.publication_date | naturaltime }}</p>
			</div>
		</div>
	</section>
{% endblock %}