{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% block content %}

<section id="works">
    <h1 class="header-projects">My Projects</h1>
    <ul>
        {% if works %}
            {% for work in works %}
                <li>
                    <div class="project">
                        <div class="logo">
                            <a href="{{ work.link }}">
                                <img src="{{ work.img.url }}" alt="">
                            </a>
                        </div>

                        <div class="info">
                            <h1>{{ work.title }}</h1>
                            <p>{{ work.description }}</p>
                            <p class="date">{{ work.creation_date | naturaltime }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% endif %}

      </ul>

</section>

{% endblock %}